/test_images
/train_images
/venv
*.zip
*.ipynb
/CADDM_master
*.dcm
*.pyc
*.whl
*.aaaa
*.gz
*.json
*.pt
*.pth
/data_segmentation
detection_coordinates.csv
clean_train_label_coordinates_and_level.csv
clean_train_label_coordinates.csv
axial_t2_detection.csv
axial_bbox.csv
detection_coordinates.csv
output.png
preprocessing/AbstractClass.py
new_train_labels_with_added_rows.csv
problems.csv
problems_with_segmentation.csv
saggital_t1_bbox.csv
saggital_t2_bbox.csv
sagittal_t1_detection.csv
sagittal_t2_detection.csv
sagittal_t2_detection_1000.csv
sagittal_t2_detection_200.csv
submission_check.csv
weights/Axial_T2_axial_side_segmentation_1
new_train_labels.csv
detection_coordinates.csv
submission_check.csv
submission_check.csv
detection_coordinates.csv
